.user{
    display: flex;
    align-items: center;
    gap: 10px;
}

mat-form-field{
    margin-right: 20px;
}

.save-task{
    margin-top: 15px;
}

li{
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
    mat-form-field{
        width: 100%;
        display: block;
    }

    button{
        width: 100%;
        margin-left: 0!important;
        margin-bottom: 15px;
    }

    .user{
        display: block;
    }
  }